@media screen and (min-width: 700px) {
    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 1000px) {

    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .navigation {
        display: flex;
        padding: 1em;
        background-color: #A44A3F;
        font-size: 1.3em;
    }

    .navigation li {
        display: block;
        flex: 1 1 100%;
        text-decoration-line: none;
        padding: 0;
    }

    #menu {
        display: none;
    }
}