header {
    font-family: "La Belle Aurore", cursive;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    background-color: #D4E09B;
}

.header-font {
    font-family: "La Belle Aurore", cursive;
    font-weight: 400;
    font-style: normal;
}

nav {
    display: flex;
    justify-content: space-between;
    margin: 1em;
    list-style: none;
    background-color: #A44A3F;
    padding: 1em;
    width: 100%;
}

a:link {
    color: white;
}

main, footer {
    font-family: "Edu NSW ACT Foundation", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

main {
    margin: 2em;
    background-color: #F6F4D2;
    padding: 2em;

}

img {
    display: block;
    border: 1px solid black;
    max-width: 400px;
    max-height: 500px;
    margin: 1em;
}

footer {
    text-align: center;
    padding: .5em;
    background-color: #D4E09B;
}