.header {
    background: rgb(55, 54, 54);
    color: white;
    padding: 30px;
    margin: 0;
}
.nav-bar {
    display: flex;
    justify-content: space-between;
    background: black;
    color: white;
    margin: 0;
}

a {
    color: white;
    padding: 15px;
}

.main {
    background: lightgrey;
    padding: 100px;
    margin: 0;
}

.right-side {
    background: white;
    padding: 50px;
    margin: 0;
}

footer {
    text-align: center;
    background: rgb(55, 54, 54);
    color: white;
    padding: 40px;
}