body {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(10,.4fr);
}
header {
    grid-column: 1 / 5;
    grid-row: 1;
}
.header {
    background: rgb(55, 54, 54);
    display: flex;
    color: white;
    padding: 2rem;
    margin: 0;
    font-size: large;
}
nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    background: black;
    color: white;
    margin: 0;
    grid-column: 1 / 4;
    grid-row: 1 / 2;
}
nav a {
    color: white;
    display: grid;
    padding: 1rem;
}
.middle {
    background: lightgrey;
    grid-column: 1/4;
    grid-row: 2/7;
    padding: 1rem;
}
.right {
    background: white;
    grid-column: 4/5;
    grid-row: 2/7;
    padding: 1rem;
}
footer {
    text-align: center;
    background: rgb(55, 54, 54);
    color: white;
    margin: 0;
    grid-column: 1/5;
    grid-row: 7/10;
    padding: 1rem;
}