body {
    display: grid;
    display: flex;
    height: 100vh;
    grid-template: auto 1fr auto / 300px 1fr auto;
}

.header {
    background: rgb(55, 54, 54);
    color: white;
}
.nav {
    display: inline;
    background: black;
    color: white;
}

.main {
    background: lightgrey;
}

.right-side {
    background: white;
}

footer {
    text-align: center;
    background: rgb(55, 54, 54);
    color: white;
}