body {
    background-color: #fefae0;
    font-family: "Barlow Semi Condensed", sans-serif;
    font-weight: 200;
    letter-spacing: .2rem;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(10,.4fr);
}
header {
  grid-column: 1 / 5;
  grid-row: 1;
}

.header {
    font-weight: 400;
    letter-spacing: .4rem;
    color:rgb(58, 75, 29);
}

nav ul {
    background-color: #dda15e;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

ul li a {
    display: flex;
    padding: 15px;
    text-decoration: none;
    color:rgb(123, 123, 65);
    box-shadow: darkolivegreen;
    font-weight: 600;
    margin: 0 10px;
    position: relative;
  }

ul li a,
ul li a:after {
    transition: all .5s;
  }

ul li a:hover {
    color:rgb(58, 75, 29);
  }

  nav.stroke ul li a,
  nav.fill ul li a {
    position: relative;
  }

.card-main {
  grid-row: 2 / 9; 
  grid-column: 1 / 4;
  font-family: "Cedarville Cursive", cursive;
  font-weight: 600;
  background: #ffffff24;
  font-size: 20px;
  line-height: 2rem;
  font-weight: bold;
  overflow: hidden;
  color: rgb(58, 75, 29);
  padding: 30px;
  box-shadow:
	  inset #344e41 0 0 0 5px, 
    inset #3a5a40 0 0 0 1px, 
    inset #588157 0 0 0 10px,
    inset #4f772d 0 0 0 11px, 
    inset #a3b18a 0 0 0 16px, 
    inset #90a955 0 0 0 17px, 
    inset #ecf39e 0 0 0 21px,
    inset #dad7cd 0 0 0 22px;
  text-shadow: 3px 3px 1px rgba(123, 123, 65, 0.159);
}

img {
  border-radius: 8px;
  margin: 5px;
  float: right;
}

.card-side {
  grid-column: 4/5;
  grid-row: 2/9; 
  padding: 1rem;
  align-content: top, center;
  color: rgb(58, 75, 29);
  box-shadow:
	  inset #283618 0 0 0 5px;
    line-height: 3rem;

}

footer {
  text-align: center;
  grid-column: 1/5;
  grid-row: 9/10;
  padding: 3rem;
}