html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

body {
    font-size: 16px;
    font-family: Verdana, sans-serif;
    background-color: #eaafa0;
}

header {
    padding: .5rem 2%;
    background-color: #264653;
    color: white;
    text-align: center;
    box-shadow: 1px 1px 5px #999;
}

main {
    padding: 0 2%;
    min-height: 20rem;
}

.pr1 fieldset {
    margin: 2rem 0;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: .5rem 2%;
    background-color: white;
    box-shadow: 1px 1px 5px #999;
}

.pr1 label {
    display: block;
    padding-top: 1rem;
    color: #2A9D8F;
    font-size: .9rem;
}

.pr1 input[value="five"],
.pr1 input[name="design"] {
    margin-bottom: 1rem;
}

.pr1 div {
    padding-top: 1rem;
    color: #264653;
    font-size: 0.9rem;
}

.pr1 input[type="text"],
.pr1 input[type="date"],
.pr1 select ,
.pr1 input[type="number"]{
    display: block;
    border: solid 1px #999;
    border-radius: 6px;
    padding: .75rem;
    color: #555;
    width: 100%;
    max-width: 400px;
    background-color: #eee;
    appearance: none;
    margin-bottom: 1rem;
}

.pr1 input[type="radio"],
.pr1 input[type="checkbox"]{
    margin-right: 6px;
}

.pr1 input[name="written-review"] {
    padding-bottom: 4rem;
}

.pr1 input[type="submit"]{
    border: none;
    background-image: linear-gradient(#d26246, #d24927);
    color: #fff;
    border-radius: 6px;
    padding: .8rem;
    width: 96%;
    max-width: 400px;
    margin: -1rem 2% 2rem 2%;
    box-shadow: 1px 1px 5px #999;
}

footer {
    padding: .5rem 2%;
    background-color: #264653;
    color: white;
    text-align: center;
    font-size: small;
    box-shadow: 1px 1px 5px #999;
}
